@charset "utf-8";

body, html {
	 min-width:1000px;  
	min-height: 600px;
   width: auto !important;  
   width:1000px; 
	height:100%;
  margin: auto;
  overflow-x: hidden;
	
}

div#about{min-width:800px;}
div#about > div{float:left; width:50%}
div#about > div > div{padding:40px}

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 0.11; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 0.11; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 0.11; /* IE9 only */ } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

.fade-in.two {
-webkit-animation-delay: 2s;
-moz-animation-delay: 2s;
animation-delay: 2s;
}


/*---make a basic box ---*/
.box{
width: 100px;
height: 100px;
position: relative;
margin: 10px;
color: white;
padding: 40px;  
float: left;
border: 1px solid #fff;
background: #27a5d2;
border-radius: 10px;
}

a:hover {
	color: white;
}

a.norm {
	text-decoration:none;
	color:black;
}

a.blackNorm {
	text-decoration:none;
	color:black;
  font-size:1vw;
  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}

a.blackNorm:hover{
	color: darkgray;
}


a.norm:hover{
	color: mediumpurple;
}
/* CSS Document */


p {
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}


/*For social media buttons*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


.fa:hover {
    opacity: 0.5;
}

.fa-github {
  background: #000000;
  color: white;
  border: black solid 1px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border: black solid 1px;
}

.container{
  width:100%;
  margin: 0px auto; 
  padding-left:25px;
}

header{
  background:#fff;
  border: lightgrey solid 0.5px;
  margin:auto;
}

header::after{
  content:'';
  display:table;
  clear:both;
}

footer{
  background:#fff;
  border-bottom: lightgrey solid 0.5px;
  border-left: lightgrey solid 0.5px;
  border-right:  lightgrey solid 0.5px;
  border-top:black solid 2px;
  margin:auto;
}

footer::after{
  content:'';
  display:table;
  clear:both;
}

.logo{
  float:left;
  padding:15px 0;
}

.quote{
  width:50%;
  float:left;
  padding:50px;
  color:#000;
  text-decoration: none;
  font-size: 24px; 
  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
  line-height: 1.75;
}



nav{  
  float:center;
}

nav ul {
  margin:0;
  padding: 0;
  list-style:none;
}

nav li {
  display:inline-block;
  margin-left:10vw;
  padding-top:20px;
  position:relative;

}

nav a {
  color:#000;
  text-decoration: none;
  text-transform: uppercase;
  font-size:14 px; 
  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';

}

nav a:hover{
color:gray;
} 

nav a::before{
  content:'';
  display:block;
  height:5px;
  background-color:#93bc81ff;

  position: absolute;
  top: 0;
  width:0%;

  transition:all ease-in-out 200ms;
}

nav a:hover::before{
  width:100%;
}

li a {
  font-size:20px;
  text-decoration: solid; 

}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  background-color: transparent;
  width: 120px;
  border: 4px solid black;
  padding: 10px;
  margin-left: 120px;
  margin-top: 35px;
  text-align: center;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -170%;
  left: 50%;
  margin-left: -100px;
  border: black solid 2px;

}

.popup .popuptext a {
  text-decoration: none;
  color:black;
}
.popup .popuptext a:hover {
  color:slategrey;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 97%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*Chat Bot Code*/
.chatIcon {
  position:fixed;
  right:100px;
  bottom:0;
  font-size:5vw;
  color:#000;
  cursor:pointer;
  z-index: 1000;
}

.chatBox {
  position:fixed;
  right:100px;
  bottom:100px;
  width:450px;
  height:80vh;
  background:#dedede;
  z-index:1000;
  transition: all 1s ease-out;
  transform: scaleY(0);
  padding:0px 10px;
}

.chatBox.active{
  transform:scaleY(1);
}

.hidden{
  display:none !important;
}

.conv-form-wrapper textarea{
  height:30px;
  width:320px;
  overflow: hidden;
  resize:none;
  float:left;
}

